.page_tab_title {
    margin-right: 5px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0 !important;
}

.table .img-thumbnail {
    max-width: unset
}
